[github]
	user = spagalloco
	token = fadd8f0a05d4fc1ccee047092d82335b
[core]
	excludesfile = /Users/steve/.gitignore
[user]
	name = Steve Agalloco
	email = steve@fanzter.com
[alias]
	st = status
	ci = commit
	co = checkout
